.order-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.order-container div {
    padding: 20px 30px;
    margin-bottom: 20px;
}
.order-box {
    margin-top: 10%;
    border: 2px solid #ccc;
}
.order-box span{
    font-weight: 900;
}
.order-title {
    font-weight: 900;
}





