.shop-container {
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
}
.shop-content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/*


*/