.announcement-container {
    height: 30px;
    background-color: black;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    font-weight: 900;
}
.hidden {
    opacity: 0;
}