.color-select-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.color-select-title{
    font-size: 14px;;
    font-weight: 600;
    display: flex;
}
.color-select-choices {
    display: flex;
}
.color-option {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid #ccc;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    transition: border-color 0.3s ease-in-out;
}
.color-option:hover {
    border-color: #999;
}
.selected {
    border: 2px solid black;
}
.color-option input[type="radio"] {
    display: none;
}


/*  COLORS  */


.WHITE {
    background-color: white;
}
.TAN {
    background-color: tan;
}
.RED {
    background-color: red;
}
.BROWN {
    background-color: brown;
}
.BLACK {
    background-color: black;
}


/*

*/