.brandspage-container {
    position: relative;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.brandspage-header {
    width: 80%;
    height: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.brandspage-header-image {
    height: 160px;
    object-fit: cover;
}
.brandspage-header-title {
    cursor: pointer;
    padding: 10px 0px;
}
.brandspage-header-description {
    padding: 10px 0px;
    font-size: 12px;
    font-weight: 100;
}

/*  BOTTOM */

.brandspage-content {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.brandspage-product-box {
    height: 400px;
    width: 200px;
}
.brandspage-product-image {
    height: 250px;
    width: 100%;
    object-fit: cover;
}
.brandspage-product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;    
}
.brandspage-product-category {
    padding: 10px;
    font-size: 12px;
}
.brandspage-product-name {
    padding: 10px;
    font-size: 12px;
}
.brandspage-product-price {
    padding: 10px;
    font-weight: 900;
}
.brandspage-product-button {
    border: none;
    background-color: inherit;
    color: inherit;
    width: 100%;
    text-transform: uppercase;
    font-weight: 900;
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.brandspage-product-box:hover button {
    background-color: #333;
    color: white;
}
#brand-back-btn {
    position: sticky;
    width: 100px;
    margin-top: 5rem;
    padding: 10px 30px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    bottom: 2%;
    left: 50%;
}

