.App {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: #f8f8f8;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    color: #333;
}

body {
    padding: 0;
    margin: 0;
}
